[Unit]
Description=Celery Beat Service
After=network.target

[Service]
Type=simple
User={{ user }}
Group={{ group }}
EnvironmentFile=/etc/conf.d/celery
WorkingDirectory=/var/www/{{ project_name }}
ExecStart=/bin/sh -c '${CELERY_BIN} beat  \
  -A ${CELERY_APP} --pidfile=${CELERYBEAT_PID_FILE} \
  --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYBEAT_LOG_LEVEL}'

[Install]
WantedBy=multi-user.target